<!DOCTYPE html>
<html lang="en">
 <head>
  {% load static %}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Candidate Profile
  </title>
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>
  <!-- Favicons -->
  <link href="{% static 'analytics/assets/img/favicon.png' %}" rel="icon"/>
  <link href="{% static 'analytics/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"/>
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>
  <!-- Vendor CSS Files -->
  <link href="{% static 'analytics/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet"/>
  <!-- Template Main CSS File -->
  <link href="{% static 'analytics/assets/css/style.css' %}" rel="stylesheet"/>
 </head>
 <body style="padding-top: 50px;">
  <!-- ======= Header ======= -->
  <header class="header fixed-top d-flex align-items-center" id="header">
   <div class="d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center" href="{% url 'analytics:index' %}">
     <img alt="" src="{% static 'analytics/assets/img/logo.png' %}"/>
     <span class="d-none d-lg-block">
      Reference Checking
     </span>
    </a>
   </div>
   <!-- End Logo -->
  </header>
  <!-- End Header -->
  <main class="main" id="main" style="margin: 20px;">
   <section class="section profile">
    <div class="row">
     <div class="col-xl-4">
      <div class="card">
       <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
        <img alt="Profile" class="rounded-circle" src={{ documents.photo.url }}>
        <h2>
         {{ documents.candidate.firstname }} {{ documents.candidate.lastname }}
        </h2>
       </div>
      </div>
      <form class="card" method="post" action="{% url 'analytics:update' %}" id="referee_form">
        {% csrf_token %}
        <div class="card-body profile-card pt-4 d-flex flex-column referees">
          {{ referee_form.as_p }}
          <!-- Render the subfields individually -->
          {% for field in referee_form.subfields %}
            <div>
              {{ field.label_tag }}
              {{ field }}
              {% if field.errors %}
                <ul class="errorlist">
                  {% for error in field.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
            
          <br>
        <div class="mb-3">
         <input  name="form" value="Update_Referee" class="btn btn-primary w-100" type="submit">
        </div>
       </div>
      </form>
     </div>
     <div class="col-xl-8">
      <div class="card">
       <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">
         <li class="nav-item">
          <button class="nav-link active" data-bs-target="#profile-overview" data-bs-toggle="tab">
           Overview
          </button>
         </li>
         <li class="nav-item">
          <button class="nav-link" data-bs-target="#profile-edit" data-bs-toggle="tab">
           Edit Profile
          </button>
         </li>
         <li class="nav-item">
          <button class="nav-link" data-bs-target="#profile-change-password" data-bs-toggle="tab">
           Change Password
          </button>
         </li>
        </ul>
        <div class="tab-content pt-2">
         <div class="tab-pane fade show active profile-overview" id="profile-overview">
          <h5 class="card-title">
           Profile Details
          </h5>
          <div class="row">
           <div class="col-lg-3 col-md-4 label">
            First Name
           </div>
           <div class="col-lg-9 col-md-8">
            {{ documents.candidate.firstname }}
           </div>
          </div>
          <div class="row">
           <div class="col-lg-3 col-md-4 label">
            Last Name
           </div>
           <div class="col-lg-9 col-md-8">
            {{ documents.candidate.lastname }}
           </div>
          </div>
          <div class="row">
           <div class="col-lg-3 col-md-4 label">
            Role
           </div>
           <div class="col-lg-9 col-md-8">
            {{ documents.job_title }}
           </div>
          </div>
          <div class="row">
           <div class="col-lg-3 col-md-4 label">
            Phone Number
           </div>
           <div class="col-lg-9 col-md-8">
            {{ documents.candidate.phone }}
           </div>
          </div>
          <div class="row">
           <div class="col-lg-3 col-md-4 label">
            Email
           </div>
           <div class="col-lg-9 col-md-8">
            {{ documents.candidate.email }}
           </div>
          </div>
          
         </div>
         <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
          <!-- Profile Edit Form -->
          <form method="post" action="{% url 'analytics:update' %}" id="candidate_update" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label" for="profileImage">
             Profile Image
            </label>
            <div class="col-md-8 col-lg-9">
             <img alt="Profile" src={{ documents.photo.url }} id='output'>
             <div class="pt-2">
              <a class="btn btn-primary btn-sm" href="#" id="upload-img" title="Upload new profile image">
               <i class="bi bi-upload">
               </i>
              </a>
              <input id="profile-img" name="photo" style="display: none;" type="file" accept=".jpg, .jpeg, .png" onchange="loadFile(event)">
             </div>
            </div>
           </div>
           <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label" for="fullName">
             First Name
            </label>
            <div class="col-md-8 col-lg-9">
             <input class="form-control" id="fullName" name="firstname" type="text" value={{ documents.candidate.firstname }}>
            </div>
           </div>
           <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label" for="fullName">
             Last Name
            </label>
            <div class="col-md-8 col-lg-9">
             <input class="form-control" id="lastName" name="lastname" type="text" value={{ documents.candidate.lastname }}>
            </div>
           </div>
           <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label" for="fullName">
             Role
            </label>
            <div class="col-md-8 col-lg-9">
             <input class="form-control" id="lastName" name="job_title" type="text" value={{ documents.job_title }}>
            </div>
           </div>
           <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label" for="company">
             Phone Number
            </label>
            <div class="col-md-8 col-lg-9">
             <input class="form-control" id="phonenumber" name="phone" type="text" value={{ documents.candidate.phone }}>
            </div>
           </div>
           <div class="row mb-3">
            <label class="col-md-4 col-lg-3 col-form-label" for="Email">
             Email
            </label>
            <div class="col-md-8 col-lg-9">
             <input class="form-control" id="Email" name="email" type="email" value={{ documents.candidate.email }}>
            </div>
           </div>
          
           <div class="pt-2">
            <label class="col-md-4 col-lg-3 col-form-label"  id="doc-preview" for="Email" data-bs-toggle="tooltip" data-bs-placement="top" title={{ documents.cv_basename }}>
              {{ documents.cv_truncated_basename }}
             </label>
            <a class="btn btn-primary btn-sm" href="#" id="upload-cv" title="Upload new cv">
             <i class="bi bi-upload">
             </i>
            </a>
            <a class="btn btn-primary btn-sm" href="#" id="upload-img" title="Upload new profile image">
              <i class="bi bi-download">
              </i>
             </a>
            <input id="profile-cv" accept=".pdf, .doc, .docx, .pptx" name="cv" onchange="docPreview(event)" style="display: none;" type="file"/>
           </div>
           <input type="submit" value="Update_Candidate" name="form" class="btn btn-primary">
          </form>
         </div>
        </div>
        <div class="tab-pane fade pt-3" id="profile-settings">
        </div>
        <div class="tab-pane fade pt-3" id="profile-change-password">
         <!-- Change Password Form -->
         <form method="post" action="{% url 'analytics:update' %}" id="password_update">
          {% csrf_token %}
          <div class="row mb-3">
           <label class="col-md-4 col-lg-3 col-form-label" for="currentPassword">
            Current Password
           </label>
           <div class="col-md-8 col-lg-9">
            <input class="form-control" id="currentPassword" name='current_password' type="password"/>
           </div>
          </div>
          <div class="row mb-3">
           <label class="col-md-4 col-lg-3 col-form-label" for="newPassword">
            New Password
           </label>
           <div class="col-md-8 col-lg-9">
            <input class="form-control" id="newPassword" name='new_password' type="password"/>
           </div>
          </div>
          <div class="row mb-3">
           <label class="col-md-4 col-lg-3 col-form-label" for="renewPassword">
            Re-enter New Password
           </label>
           <div class="col-md-8 col-lg-9">
            <input class="form-control" id="renewPassword" name='confirmation' type="password"/>
           </div>
          </div>
          <div class="text-center">
           <input type="submit" value="Change Password" name="form" class="btn btn-primary">
          </div>
         </form>
         <!-- End Change Password Form -->
        </div>
       </div>
       <!-- End Bordered Tabs -->
      </div>
     </div>
    </div>
   </section>
  </main>
  <!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer class="footer" id="footer">
   <div class="credits">
    Designed by
    <a href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=&amp;cad=rja&amp;uact=8&amp;ved=2ahUKEwjmoKfznoGBAxW6T0EAHQlxBNYQFnoECCAQAQ&amp;url=https%3A%2F%2Fbakertilly.site%2F&amp;usg=AOvVaw0AgYbNcQeVUdVLc5b7s1kv&amp;opi=89978449">
     Bakertilly
    </a>
   </div>
  </footer>
  <!-- End Footer -->
  <a class="back-to-top d-flex align-items-center justify-content-center" href="#">
   <i class="bi bi-arrow-up-short">
   </i>
  </a>
  <script src="{% static 'analytics/assets/js/preview.js' %}"></script>
  <!-- Vendor JS Files -->
  <script src="{% static 'analytics/assets/vendor/apexcharts/apexcharts.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/chart.js/chart.umd.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/echarts/echarts.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/quill/quill.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/simple-datatables/simple-datatables.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/tinymce/tinymce.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/php-email-form/validate.js' %}">
  </script>
  <!-- Template Main JS File -->
  <script src="{% static 'analytics/assets/js/main.js' %}">
  </script>
  <!--PHP CODE FOR CREATING REQUIRED JAVASCRIPT OBJECT-->
  <!--<?php
  // Retrieve data from a database or any other source
  $data = [
      companyName1=>[
        'name' => 'John Doe',
        'age' => 30,
        'email' => 'johndoe@example.com'
          ],
      companyName2=>[
          'name' => 'John Doe',
          'age' => 30,
          'email' => 'johndoe@example.com'
        ]

    ];
  
  // Convert the data to JSON
  $jsonData = json_encode($data);
  ?>-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      let jquery_submit=(form_id)=>{
        $(form_id).submit(function(event) {
          event.preventDefault(); // Prevent default form submission
          let submit_value;
          switch(form_id){
            case '#referee_update': 
              submit_value ='Update_Referee';
              break
            case '#candidate_update':
              submit_value ='Update_Candidate';
              break
            case '#password_update':
              submit_value ='Change Password';
              break
            default:
              break
          }
          var form = $(this);
          var formData = new FormData(form[0]);
          formData.append('form', submit_value)
          $.ajax({
              type: form.attr('method'),
              url: form.attr('action'),
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                  alert(response.message)
              },
              error: function(xhr, errmsg, err) {
                  // Handle the error response
                  alert(errmsg)
                  console.log(xhr.status + ": " + xhr.responseText);
              }
          });
          });
      }
      $(document).ready(function() {
        jquery_submit('#password_update')
        jquery_submit('#candidate_update')
        jquery_submit('#referee_update')
      });
    </script>
  <script>
   //referees
    //data = <?php echo $jsonData; ?>;
    
    let referee_status =`{{ status }}`
    if(referee_status!='0'){
      alert('not found')
    }
   
    function changeValues(selectElement) {
      var selectedOption = selectElement.options[selectElement.selectedIndex];
      var selectedText = selectedOption.text;
      
      // Use the selectedText as needed
      correspondingObject=data[selectedText]
      for(let key in correspondingObject){
        document.getElementById(key).value=correspondingObject[key]

      }
      
    }

    document.getElementById("upload-img").onclick=(e)=>{
      e.preventDefault()
      let icon=e.target
      document.getElementById("profile-img").click()
    }

    document.getElementById("upload-cv").onclick=(e)=>{
      e.preventDefault()
      let icon=e.target
      document.getElementById("profile-cv").click()
    }
  </script>
 </body>
</html>

