<!DOCTYPE html>
<html lang="en">
 <head>
  {% load static %}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Components / Accordion - NiceAdmin Bootstrap Template
  </title>
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>
  <!-- Favicons -->
  <link href="{% static 'analytics/assets/img/favicon.png' %}" rel="icon"/>
  <link href="{% static 'analytics/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"/>
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>
  <!-- Vendor CSS Files -->
  <link href="{% static 'analytics/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet"/>
  <!-- Template Main CSS File -->
  <link href="{% static 'analytics/assets/css/style.css' %}" rel="stylesheet"/>
  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
   .hidden{
      display: none;
    }
  </style>
 </head>
 <body style="padding-top:50px;">
  <header class="header fixed-top d-flex align-items-center" id="header">
   <div class="d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center" href="{% url 'analytics:index' %}">
     <img alt="" src="{% static 'analytics/assets/img/logo.png' %}"/>
     <span class="d-none d-lg-block">
      Reference Checking
     </span>
    </a>
    <!--<i class="bi bi-list toggle-sidebar-btn"></i>-->
   </div>
   
   <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
     <li class="nav-item d-block d-lg-none">
      <a class="nav-link nav-icon search-bar-toggle" href="#">
       <i class="bi bi-search">
       </i>
      </a>
     </li>
     
     <li class="nav-item dropdown">
      <!--<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a>-->
      <!-- End Messages Icon -->
      
     </li>
     <!-- End Messages Nav -->
    </ul>
   </nav>
   <!-- End Icons Navigation -->
  </header>
  <!-- End Header -->
  <!-- ======= Header ======= -->
  <main class="main" id="main" style="margin: 0;">
   <div class="pagetitle">
    <!--<h1>Enter References</h1>-->
   </div>
   <!-- End Page Title -->
   <section class="section dashboard">
    <div class="row">
     <!-- Left side columns -->
     <div class="col-lg-8">
      <div class="card mb-3">
       <div class="card-body">
        <div class="pt-4 pb-2">
         <h5 class="card-title text-center pb-0 fs-4">
          References
         </h5>
         <!--<p class="text-center small">References</p>-->
        </div>
        <form name="referee" class="row g-3 needs-validation final" novalidate method="post" action="{% url 'analytics:candidate_idx' %}" id="referee_form">
          <hr id="seperator">
          {% csrf_token %}
          <div class="container-fluid hidden" id="referee_input_fields">
            {{ referee_form.as_p }}
          </div>
          <div class="col-12">
            <a href="#" class="btn btn-primary" onclick="start_adding(this)">Start Adding</a>
            <input type="submit" name="form" value="add_referee" class="btn btn-primary hidden" id="ref_submit">
          </div>
        </form>
        
       </div>
      </div>
     </div>
     <!-- End Left side columns -->
     <!-- Right side columns -->
     <div class="col-lg-4">
      <div class="card mb-3">
       <div class="card-body">
        <div class="pt-4 pb-2">
         <h5 class="card-title text-center pb-0 fs-4">
          Candidate Documents
         </h5>
         <p class="text-center small">
          Upload your CV and a passport sized photo
         </p>
        </div>
        
        <form name="documents" class="row g-3 needs-validation final" novalidate method="post" action="{% url 'analytics:candidate_idx' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ documents_form.as_p }}
            <br/>
            <div class="col-12 submit-col">
             <!--<a  href="candidate profile view.html" class="btn btn-primary w-10" type="submit">Submit</a>-->
             <input type="submit" value="submit_documents" name="form" class="btn btn-primary">
            </div>
          
        </form>
       </div>
      </div>
     </div>
    </div>
   </section>
  </main>
  <!-- End #main -->
  <!-- ======= Footer ======= -->
  <a class="back-to-top d-flex align-items-center justify-content-center" href="#">
   <i class="bi bi-arrow-up-short">
   </i>
  </a>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    let start_adding=(element)=>{
      element.classList.add("hidden");
      element.classList.add("inputs_toggle");
      document.getElementById('ref_submit').classList.remove("hidden");
      document.getElementById("referee_input_fields").classList.remove("hidden");
    }

    let createElement=(template)=>{
        let temp=document.createElement('div')
        temp.innerHTML=template
        let element=temp.lastChild
        return element
    }
  </script>
  <script>
    $(document).ready(function() {
        $('#referee_form').submit(function(event) {
        event.preventDefault(); // Prevent default form submission

        var form = $(this);
        var formData = new FormData(form[0]);
        formData.append('form', 'add_referee')
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                // Handle the success response
                let compTemplate=`<div class="col-12">
                <input class="form-control" type="text" placeholder="${formData.get('comp_name')}" aria-label="Disabled input example" disabled>
                
              </div>`
              let referee=createElement(compTemplate)
              let seperator=document.getElementById("seperator")
              seperator.parentElement.insertBefore(referee,seperator)
              form[0].reset()
              let element=document.querySelector(".inputs_toggle")
              element.classList.remove("hidden");
              element.classList.remove('inputs_toggle')
              document.getElementById('ref_submit').classList.add("hidden");
              document.getElementById("referee_input_fields").classList.add("hidden");
            },
            error: function(xhr, errmsg, err) {
                // Handle the error response
                alert(errmsg)
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
        });
    });
    </script>
  <!-- Vendor JS Files -->
  <script src="{% static 'analytics/assets/vendor/apexcharts/apexcharts.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/chart.js/chart.umd.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/echarts/echarts.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/quill/quill.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/simple-datatables/simple-datatables.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/tinymce/tinymce.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/php-email-form/validate.js' %}">
  </script>
  <!-- Template Main JS File -->
  <script src="{% static 'analytics/assets/js/main.js' %}">
  </script>
  
 </body>
</html>

