<!DOCTYPE html>
<html lang="en">
 <head>
  {% load static %}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Reference Checking System
  </title>
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>
  <!-- Favicons -->
  <link href="{% static 'analytics/assets/img/favicon.png' %}" rel="icon"/>
  <link href="{% static 'analytics/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"/>
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>
  <!-- Vendor CSS Files -->
  <link href="{% static 'analytics/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet"/>
  <!-- Template Main CSS File -->
  <link href="{% static 'analytics/assets/css/style.css' %}" rel="stylesheet"/>
  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
   .hidden{
      display: none;
    }
    #print-button{
      position: fixed;
      bottom: 80px;
      right:50px;
      z-index: 1000;
      padding: 15px;
      cursor: pointer;
    }
  </style>
 </head>
 <body>
  <!-- ======= Header ======= -->
  <header class="header fixed-top d-flex align-items-center" id="header">
   <div class="d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center" href="{% url 'analytics:index' %}">
     <!--<img src="assets/img/logo.png" alt="">-->
     <span class="d-none d-lg-block">
      Reference Checking
     </span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn">
    </i>
   </div>
   <!-- End Logo -->
   <!--<div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>-->
   <!-- End Search Bar -->
   <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
     <li class="nav-item d-block d-lg-none">
      <a class="nav-link nav-icon search-bar-toggle" href="#">
       <i class="bi bi-search">
       </i>
      </a>
     </li>
     <!-- End Search Icon-->
     <li class="nav-item dropdown">
      <a class="nav-link nav-icon" data-bs-toggle="dropdown" href="#">
       <i class="bi bi-bell">
       </i>
       <span class="badge bg-primary badge-number">
        4
       </span>
      </a>
      <!-- End Notification Icon -->
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
       <li class="dropdown-header">
        You have 4 new notifications
        <a href="#">
         <span class="badge rounded-pill bg-primary p-2 ms-2">
          View all
         </span>
        </a>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="notification-item">
        <i class="bi bi-exclamation-circle text-warning">
        </i>
        <div>
         <h4>
          Lorem Ipsum
         </h4>
         <p>
          Quae dolorem earum veritatis oditseno
         </p>
         <p>
          30 min. ago
         </p>
        </div>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="notification-item">
        <i class="bi bi-x-circle text-danger">
        </i>
        <div>
         <h4>
          Atque rerum nesciunt
         </h4>
         <p>
          Quae dolorem earum veritatis oditseno
         </p>
         <p>
          1 hr. ago
         </p>
        </div>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="notification-item">
        <i class="bi bi-check-circle text-success">
        </i>
        <div>
         <h4>
          Sit rerum fuga
         </h4>
         <p>
          Quae dolorem earum veritatis oditseno
         </p>
         <p>
          2 hrs. ago
         </p>
        </div>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="notification-item">
        <i class="bi bi-info-circle text-primary">
        </i>
        <div>
         <h4>
          Dicta reprehenderit
         </h4>
         <p>
          Quae dolorem earum veritatis oditseno
         </p>
         <p>
          4 hrs. ago
         </p>
        </div>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="dropdown-footer">
        <a href="#">
         Show all notifications
        </a>
       </li>
      </ul>
      <!-- End Notification Dropdown Items -->
     </li>
     <!-- End Notification Nav -->
     <li class="nav-item dropdown">
      <a class="nav-link nav-icon" data-bs-toggle="dropdown" href="#">
       <i class="bi bi-chat-left-text">
       </i>
       <span class="badge bg-success badge-number">
        3
       </span>
      </a>
      <!-- End Messages Icon -->
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
       <li class="dropdown-header">
        You have 3 new messages
        <a href="#">
         <span class="badge rounded-pill bg-primary p-2 ms-2">
          View all
         </span>
        </a>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="message-item">
        <a href="#">
         <img alt="" class="rounded-circle" src="{% static 'analytics/assets/img/messages-1.jpg' %}"/>
         <div>
          <h4>
           Maria Hudson
          </h4>
          <p>
           Velit asperiores et ducimus soluta repudiandae labore officia est ut...
          </p>
          <p>
           4 hrs. ago
          </p>
         </div>
        </a>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="message-item">
        <a href="#">
         <img alt="" class="rounded-circle" src="{% static 'analytics/assets/img/messages-2.jpg' %}"/>
         <div>
          <h4>
           Anna Nelson
          </h4>
          <p>
           Velit asperiores et ducimus soluta repudiandae labore officia est ut...
          </p>
          <p>
           6 hrs. ago
          </p>
         </div>
        </a>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="message-item">
        <a href="#">
         <img alt="" class="rounded-circle" src="{% static 'analytics/assets/img/messages-3.jpg' %}"/>
         <div>
          <h4>
           David Muldon
          </h4>
          <p>
           Velit asperiores et ducimus soluta repudiandae labore officia est ut...
          </p>
          <p>
           8 hrs. ago
          </p>
         </div>
        </a>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="dropdown-footer">
        <a href="#">
         Show all messages
        </a>
       </li>
      </ul>
      <!-- End Messages Dropdown Items -->
     </li>
     <!-- End Messages Nav -->
     <!--<li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul>
        </li>-->
     <!-- End Profile Nav -->
    </ul>
   </nav>
   <!-- End Icons Navigation -->
  </header>
  <!-- End Header -->
  <!-- ======= Sidebar ======= -->
  <aside class="sidebar" id="sidebar">
   <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
     <a class="nav-link" href="{% url 'analytics:index' %}">
      <i class="bi bi-grid">
      </i>
      <span>
       Dashboard
      </span>
     </a>
    </li>
    <!-- End Dashboard Nav -->
    <li class="nav-heading">
     Pages
    </li>
    <li class="nav-item">
     <a class="nav-link collapsed" href="{% url 'analytics:candidates' %}">
      <i class="bi bi-people">
      </i>
      <span>
       Candidates
      </span>
     </a>
    </li>
    <!-- End Profile Page Nav -->
    <!--<li class="nav-item">
        <a class="nav-link collapsed" href="Candidate Reports.html">
          <i class="bi bi-file-earmark-pdf"></i>
          <span>Candidate Reports</span>
        </a>
      </li>-->
    <!-- End Error 404 Page Nav -->
   </ul>
  </aside>
  <!-- End Sidebar-->
  <!-- End Sidebar-->
  <main class="main" id="main">
   <i class="bi bi-file-earmark-pdf bg-primary rounded" data-bs-placement="top" data-bs-toggle="tooltip" id="print-button" onclick="redirect()" title="produce report">
   </i>
   <a href="{% url 'analytics:Candidate Reports' %}" id="link-to-report" style="display: none;">
   </a>
   <section class="section" id="candidates-table">
    <div class="row">
     <div class="col-lg-12">
      <div class="card">
       <div class="card-body">
        <h5 class="card-title">
         candidates
        </h5>
        <!-- Table with stripped rows -->
        <table class="table datatable">
         <thead>
          <tr>
           <th scope="col">
            #
           </th>
           <th scope="col">
            Name
           </th>
           <th scope="col">
            Proffession
           </th>
           <th scope="col">
            Phone Number
           </th>
           <th class="hidden">
            Email
           </th>
           <th class="hidden">
            img_src
           </th>
          </tr>
         </thead>
         <tbody>
          <tr>
           <th scope="row">
            1
           </th>
           <td>
            Brandon Jacob
           </td>
           <td>
            Designer
           </td>
           <td>
            +263 713 859 053
           </td>
           <td>
            martinmuduva@baker.co.zw
           </td>
           <td>
            assets/img/profile-img.jpg
           </td>
          </tr>
          <tr>
           <th scope="row">
            2
           </th>
           <td>
            Bridie Kessler
           </td>
           <td>
            Developer
           </td>
           <td>
            +263 713 859 053
           </td>
           <td>
            martinmuduva@baker.co.zw
           </td>
           <td>
            assets/img/profile-img2.jpg
           </td>
          </tr>
          <tr>
           <th scope="row">
            3
           </th>
           <td>
            Ashleigh Langosh
           </td>
           <td>
            Finance
           </td>
           <td>
            +263 713 859 053
           </td>
           <td>
            martinmuduva@baker.co.zw
           </td>
           <td>
            assets/img/profile-img3.jpg
           </td>
          </tr>
          <tr>
           <th scope="row">
            4
           </th>
           <td>
            Angus Grady
           </td>
           <td>
            HR
           </td>
           <td>
            +263 713 859 053
           </td>
           <td>
            martinmuduva@baker.co.zw
           </td>
           <td>
            assets/img/profile-img4.jpg
           </td>
          </tr>
          <tr>
           <th scope="row">
            5
           </th>
           <td>
            Raheem Lehner
           </td>
           <td>
            Dynamic Division Officer
           </td>
           <td>
            +263 713 859 053
           </td>
           <td>
            martinmuduva@baker.co.zw
           </td>
           <td>
            assets/img/profile-img5.jpg
           </td>
          </tr>
         </tbody>
        </table>
        <!-- End Table with stripped rows -->
       </div>
      </div>
     </div>
    </div>
   </section>
   <a href="#candidates-profile" id="profile-link" style="display: none;">
   </a>
   <!--Profile-->
   <section class="section profile" id="candidates-profile">
    <div class="row">
     <div class="col-xl-4">
      <div class="card">
       <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
        <img alt="Profile" class="rounded-circle" src="{% static 'analytics/assets/img/profile-img.jpg' %}"/>
        <h2>
         Dyllan Baloyi
        </h2>
       </div>
      </div>
      <div class="card">
       <div class="card-body">
        <h5 class="card-title">
         sentiment analysis
        </h5>
        <!-- Progress Bars with Backgrounds-->
        <div class="progress neutral">
         <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" class="progress-bar" role="progressbar" style="width: 10%">
          15%
         </div>
        </div>
        <div class="progress mt-3 positive">
         <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-success" role="progressbar" style="width: 25%">
          35%
         </div>
        </div>
        <div class="progress mt-3 negative">
         <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar bg-danger" role="progressbar" style="width: 50%">
          50%
         </div>
        </div>
        <!-- End Progress Bars with Backgrounds -->
        <br/>
        <h5>
         key
        </h5>
        <br/>
        <div class="d-flex flex-column justify-content-between" style="gap: 10px;">
         <div class="d-flex justify-content-start align-items-center" style="padding:5px;gap:5px">
          <span class="bg-primary rounded" style="width:20px;height:20px">
          </span>
          <label>
           Neutral
          </label>
         </div>
         <div class="d-flex justify-content-start align-items-center" style="padding:5px;gap:5px">
          <span class="bg-success rounded" style="width:20px;height:20px">
          </span>
          <label>
           Positive
          </label>
         </div>
         <div class="d-flex justify-content-start align-items-center" style="padding:5px;gap:5px">
          <span class="bg-danger rounded" style="width:20px;height:20px">
          </span>
          <label>
           Negative
          </label>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="col-xl-8">
      <div class="card">
       <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered">
         <li class="nav-item">
          <button class="nav-link active" data-bs-target="#profile-overview" data-bs-toggle="tab">
           Overview
          </button>
         </li>
         <li class="nav-item">
          <button class="nav-link" data-bs-target="#analytics" data-bs-toggle="tab">
           Analytics
          </button>
         </li>
        </ul>
        <div class="tab-content pt-2">
         <div class="tab-pane fade show active profile-overview" id="profile-overview">
          <h5 class="card-title">
           About
          </h5>
          <h5 class="card-title">
           Profile Details
          </h5>
          <div class="row">
           <div class="col-lg-3 col-md-4 label">
            First Name
           </div>
           <div class="col-lg-9 col-md-8 FirstName">
            Dyllan
           </div>
          </div>
          <div class="row">
           <div class="col-lg-3 col-md-4 label">
            Last Name
           </div>
           <div class="col-lg-9 col-md-8 LastName">
            Baloyi
           </div>
          </div>
          <div class="row">
           <div class="col-lg-3 col-md-4 label">
            Phone
           </div>
           <div class="col-lg-9 col-md-8 Phone">
            +263 713 859 053
           </div>
          </div>
          <div class="row">
           <div class="col-lg-3 col-md-4 label">
            Email
           </div>
           <div class="col-lg-9 col-md-8 Email">
            dyllan.baloyi@bakertilly.co.zw
           </div>
          </div>
         </div>
         <div class="tab-pane fade show profile-overview" id="analytics">
          <div class="card">
           <div class="card-body">
            <h5 class="card-title">
             Average of scores
            </h5>
            <!-- Doughnut Chart -->
            <canvas id="doughnutChart" style="max-height: 400px;">
            </canvas>
            <script>
             let doughnut;
                        let createChart=(fullname)=>{
                        let scores=relatedData[fullname].analytics.average_scores
                        if(!doughnut){
                        doughnut=new Chart(document.querySelector('#doughnutChart'), {
                          type: 'doughnut',
                          data: {
                            labels: [
                                'Problem Solving',
                                'Communication Skills',
                                'Time Management',
                                'Creativity',
                                'Willingness to learn',
                                'TeamWork',
                                'Reliable'
                              ],
                              datasets: [{
                                label: 'Average Score',
                                data: scores,
                                fill: true,
                                backgroundColor: [
                                  'rgb(255, 99, 132)',
                                  'rgb(54, 162, 235)',
                                  'rgb(255, 205, 86)',
                                  'rgb(255, 86, 205)',
                                  'rgb(86,255,  205)',
                                  'rgb(100, 162, 235)',
                                  'rgb(180,255,180)',
                                ],
                                
                                pointBackgroundColor: 'rgb(255, 99, 132)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgb(255, 99, 132)'
                              },]
                            }
                        });
                                          
                      }else{
                        doughnut.data.datasets[0].data=scores
                        doughnut.update()
                      }
                      }
                        // document.addEventListener("DOMContentLoaded", () => {
                        //   let data=[65, 59, 90, 81, 56, 55, 40]
                        //   createChart(data)
                        // })
            </script>
            <!-- End Doughnut CHart -->
           </div>
          </div>
          <div class="card">
           <div class="card-body">
            <h5 class="card-title">
             Stacked Bar Chart
            </h5>
            <!-- Stacked Bar Chart -->
            <canvas id="stakedBarChart" style="max-height: 400px;">
            </canvas>
            <script>
             let bars;
                        let updateBars=(scores)=>{

                          
                          bars.data.datasets=[]
                          references.forEach((reference)=>{
                            let dataset={...datasetTemplate}
                            dataset.label=reference
                            dataset.data=scores[reference]
                            dataset.backgroundColor=colorPalette[paletteIndex]
                            paletteIndex+=1
                            if(paletteIndex==colorPalette.length){
                              paletteIndex=0
                            }
                            bars.data.datasets.push(dataset)
                          })

                          bars.update()
                        }

                        let createBars=(fullname)=>{
                          let scores=relatedData[fullname].analytics.individual_scores
                          if(!bars){
                            bars=new Chart(document.querySelector('#stakedBarChart'), {
                            type: 'bar',
                            data: {
                              labels: [
                                'Problem Solving',
                                'Communication Skills',
                                'Time Management',
                                'Creativity',
                                'Willingness to learn',
                                'TeamWork',
                                'Reliable'
                              ],
                              datasets: []
                            },
                            options: {
                              plugins: {
                                title: {
                                  display: true,
                                  text: 'Chart.js Bar Chart - Stacked'
                                },
                              },
                              responsive: true,
                              scales: {
                                x: {
                                  stacked: true,
                                },
                                y: {
                                  stacked: true
                                }
                              }
                            }
                          });
                        
                          updateBars(scores)
                          }else{
                            updateBars(scores)
                          
                        }
                      }
            </script>
            <!-- End Stacked Bar Chart -->
           </div>
          </div>
         </div>
        </div>
        <!-- End Bordered Tabs -->
       </div>
      </div>
      <div class="card">
       <div class="card-body pt-3">
        <h5 class="card-title">
         Conclusion
        </h5>
        <div class="alert alert-dismissible fade show" role="alert">
         <i class="bi me-1">
         </i>
         <p>
          candidate is suitable for hiring
         </p>
         <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button">
         </button>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!--end profile-->
  </main>
  <!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer class="footer" id="footer">
   <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by
    <a href="https://bakertilly.site/baker-tilly-digital-contact/">
     bakertilly
    </a>
   </div>
  </footer>
  <!-- End Footer -->
  <a class="back-to-top d-flex align-items-center justify-content-center" href="#">
   <i class="bi bi-arrow-up-short">
   </i>
  </a>
  <!-- Vendor JS Files -->
  <script src="{% static 'analytics/assets/vendor/apexcharts/apexcharts.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/chart.js/chart.umd.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/echarts/echarts.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/quill/quill.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/simple-datatables/simple-datatables.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/tinymce/tinymce.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/php-email-form/validate.js' %}">
  </script>
  <!-- Template Main JS File -->
  <script src="{% static 'analytics/assets/js/main.js' %}">
  </script>
  <!--<script>
    Array.from(document.getElementsByTagName('tr')).forEach((row)=>{
      row.setAttribute('style','cursor:pointer')
      row.addEventListener('click',()=>{
        let td=row.querySelector('td').nextSibling
        let name=td.innerText
        //alert(name)
        let [card1,card2]=document.getElementById('candidates-profile').getElementsByClassName('card')
        card1.querySelector('h2').innerText=name
        document.getElementById('profile-link').click()
      })
    })

    function redirect(){
      document.getElementById("link-to-report").click()
    }
  </script>-->
  <script>
   let references=['bakertilly','econet']
  let paletteIndex=0
  let colorPalette=[
    'rgba(54, 162, 235, 0.8)', // Blue
    'rgba(255, 99, 132, 0.8)', // Red
    'rgba(255, 205, 86, 0.8)', // Yellow
    'rgba(75, 192, 192, 0.8)', // Teal
    'rgba(153, 102, 255, 0.8)', // Purple
    'rgba(255, 159, 64, 0.8)', // Orange
    'rgba(255, 0, 0, 0.8)', // Bright Red
    'rgba(0, 255, 0, 0.8)', // Bright Green
    'rgba(255, 0, 255, 0.8)', // Magenta
    'rgba(0, 255, 255, 0.8)' // Cyan
  ]
  let datasetTemplate={
    label: '',
    data: [],
    fill: true,
    backgroundColor: '',
    borderColor: 'rgb(255, 99, 132)',
    pointBackgroundColor: 'rgb(255, 99, 132)',
    pointBorderColor: '#fff',
    pointHoverBackgroundColor: '#fff',
    pointHoverBorderColor: 'rgb(255, 99, 132)'
  }

  let conclusions={
    suitable:{
      message:'candidate is suitable for hiring',
      alertClass:['alert-danger','alert-success'],
      icon:'bi-check-circle'
    },
    not_suitable:{
      message:'candidate is not suitable for hiring',
      alertClass:['alert-success','alert-danger'],
      icon:'bi-x-circle'
    }
  }
  //data obtained after merging tables
  let relatedData={
    'Brandon Jacob':{
      sentiments:{
        positive:20,
        negative:60,
        neutral:40
      },
      conclusion:'not_suitable',
      analytics:{
        individual_scores:{
          'bakertilly':[65, 59, 90, 81, 56, 55, 40],
          'econet':[65, 59, 90, 81, 56, 55, 40]
        },
        average_scores:[30,30, 30, 30, 30, 30, 30]
      }
    },
    
    'Bridie Kessler':{
      sentiments:{
        positive:75,
        negative:5,
        neutral:20
      },
      conclusion:'suitable',
      analytics:{
        individual_scores:{
          'bakertilly':[65, 59, 90, 81, 56, 55, 40],
          'econet':[100, 100,100,100,200,100, 100]
        },
        average_scores:[100, 100,100,100,200,100, 100]
      }
    },
  }

let setSentiments=(fullname)=>{
    
  let sentiments=relatedData[fullname].sentiments
  let [neutral,positive,negative]=Array.from(document.getElementsByClassName('progress'))
  let neutralProgress=neutral.querySelector('.progress-bar')
  neutralProgress.style.width=`${sentiments.neutral}%`
  neutralProgress.setAttribute('aria-valuenow','10')
  neutralProgress.innerHTML=`${sentiments.neutral}%`

  let positiveProgress=positive.querySelector('.progress-bar')
  positiveProgress.style.width=`${sentiments.positive}%`
  positiveProgress.setAttribute('aria-valuenow','10')
  positiveProgress.innerHTML=`${sentiments.positive}%`

  let negativeProgress=negative.querySelector('.progress-bar')
  negativeProgress.style.width=`${sentiments.negative}%`
  negativeProgress.setAttribute('aria-valuenow','10')
  negativeProgress.innerHTML=`${sentiments.negative}%`
}

let setConclusion=(fullname)=>{
 
  let conclusion=relatedData[fullname].conclusion
  let alert=document.querySelector('.alert')
  let correspondingOutput=conclusions[conclusion]

  let [oldClass,newClass]=correspondingOutput.alertClass
  alert.classList.remove(oldClass)
  alert.classList.add(newClass)
  alert.querySelector('i').classList.add(correspondingOutput.icon)
  alert.querySelector('p').innerText=correspondingOutput.message
}

let displayAttributes=(row)=>{
  let [num,FullName,Role,Phone,Email,img]=Array.from(row.getElementsByTagName('td'))
  let card1=document.getElementById('candidates-profile').querySelector('.col-xl-4').querySelector('.card')
  let card2=document.getElementById('candidates-profile').querySelector('.col-xl-8').querySelector('.card')
  //let [card1,card2]=document.getElementById('candidates-profile').getElementsByClassName('card')
  let [FirstName,LastName]=FullName.innerText.split(' ')
  card1.querySelector('h2').innerText=`${FirstName} ${LastName}`
  card1.querySelector('img').src=img.innerText
  card2.querySelector('.FirstName').innerText=FirstName
  card2.querySelector('.LastName').innerText=LastName
  //card2.querySelector('.Role').innerText=Role.innerText
  card2.querySelector('.Phone').innerText=Phone.innerText
  card2.querySelector('.Email').innerText=Email.innerText
  document.getElementById('profile-link').click()
  let fullname=FullName.innerText
  setSentiments(fullname)
  setConclusion(fullname)
  //resetAverageScores(fullname)
  createChart(fullname)
  createBars(fullname)
}
  //setting first row as default display
displayAttributes(document.querySelector('tbody').querySelector('tr'))

  
Array.from(document.getElementsByTagName('tr')).forEach((row)=>{
  row.style.cursor='pointer'
  let lastAttr=row.lastChild
  lastAttr.previousSibling.classList.add('hidden')
  lastAttr.classList.add('hidden')
  row.addEventListener('click',()=>{
    displayAttributes(row)
  })
  
})
  </script>
  <script>
   let redirect=()=>{
    document.getElementById('link-to-report').click()
  }
  </script>
 </body>
</html>

