<!DOCTYPE html>
<html lang="en">
 <head>
  {% load static %}
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Reference Checking System
  </title>
  <meta content="" name="description"/>
  <meta content="" name="keywords"/>
  <!-- Favicons -->
  <link href="{% static 'analytics/assets/img/favicon.png' %}" rel="icon"/>
  <link href="{% static 'analytics/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"/>
  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"/>
  <!-- Vendor CSS Files -->
  <link href="{% static 'analytics/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet"/>
  <link href="{% static 'analytics/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet"/>
  <!-- Template Main CSS File -->
  <link href="{% static 'analytics/assets/css/style.css' %}" rel="stylesheet"/>
  <style>
   .hidden-scroll{
      height: 800px;
      overflow-y: scroll;
      scrollbar-width: 0px;
    }
    .hidden-scroll::-webkit-scrollbar{
      display: none;
    }

    .hidden{
      display: none;
    }
  </style>
  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
 </head>
 <body>
  <!-- ======= Header ======= -->
  <header class="header fixed-top d-flex align-items-center" id="header">
   <div class="d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center" href="{% url 'analytics:index' %}">
     <img alt="" src="{% static 'analytics/assets/img/logo.png' %}"/>
     <span class="d-none d-lg-block">
      Reference Checking
     </span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn">
    </i>
   </div>
   <!-- End Logo -->
   <!--<div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div>-->
   <!-- End Search Bar -->
   <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
     <li class="nav-item d-block d-lg-none">
      <a class="nav-link nav-icon search-bar-toggle" href="#">
       <i class="bi bi-search">
       </i>
      </a>
     </li>
     <!-- End Search Icon-->
     <li class="nav-item dropdown">
      <a class="nav-link nav-icon" data-bs-toggle="dropdown" href="#">
       <i class="bi bi-bell">
       </i>
       <span class="badge bg-primary badge-number">
        4
       </span>
      </a>
      <!-- End Notification Icon -->
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
       <li class="dropdown-header">
        You have 4 new notifications
        <a href="#">
         <span class="badge rounded-pill bg-primary p-2 ms-2">
          View all
         </span>
        </a>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="notification-item">
        <i class="bi bi-exclamation-circle text-warning">
        </i>
        <div>
         <h4>
          New Candidates
         </h4>
         <p>
          12 New candidates registered
         </p>
         <p>
          30 min. ago
         </p>
        </div>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="notification-item">
        <i class="bi bi-x-circle text-danger">
        </i>
        <div>
         <h4>
          Failed email
         </h4>
         <p>
          Failed to send email to Simbai @bakertilly
         </p>
         <p>
          1 hr. ago
         </p>
        </div>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="notification-item">
        <i class="bi bi-x-circle text-danger">
        </i>
        <div>
         <h4>
          Failed email
         </h4>
         <p>
          Failed to send email to Simbai @bakertilly
         </p>
         <p>
          1 hr. ago
         </p>
        </div>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="notification-item">
        <i class="bi bi-x-circle text-danger">
        </i>
        <div>
         <h4>
          Failed email
         </h4>
         <p>
          Failed to send email to Simbai @bakertilly
         </p>
         <p>
          1 hr. ago
         </p>
        </div>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="dropdown-footer">
        <a href="#">
         Show all notifications
        </a>
       </li>
      </ul>
      <!-- End Notification Dropdown Items -->
     </li>
     <!-- End Notification Nav -->
     <li class="nav-item dropdown">
      <!--<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a>-->
      <!-- End Messages Icon -->
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
       <li class="dropdown-header">
        You have 3 new messages
        <a href="#">
         <span class="badge rounded-pill bg-primary p-2 ms-2">
          View all
         </span>
        </a>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="message-item">
        <a href="#">
         <img alt="" class="rounded-circle" src="{% static 'analytics/assets/img/messages-1.jpg' %}"/>
         <div>
          <h4>
           Maria Hudson
          </h4>
          <p>
           Velit asperiores et ducimus soluta repudiandae labore officia est ut...
          </p>
          <p>
           4 hrs. ago
          </p>
         </div>
        </a>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="message-item">
        <a href="#">
         <img alt="" class="rounded-circle" src="{% static 'analytics/assets/img/messages-2.jpg' %}"/>
         <div>
          <h4>
           Anna Nelson
          </h4>
          <p>
           Velit asperiores et ducimus soluta repudiandae labore officia est ut...
          </p>
          <p>
           6 hrs. ago
          </p>
         </div>
        </a>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="message-item">
        <a href="#">
         <img alt="" class="rounded-circle" src="{% static 'analytics/assets/img/messages-3.jpg' %}"/>
         <div>
          <h4>
           David Muldon
          </h4>
          <p>
           Velit asperiores et ducimus soluta repudiandae labore officia est ut...
          </p>
          <p>
           8 hrs. ago
          </p>
         </div>
        </a>
       </li>
       <li>
        <hr class="dropdown-divider"/>
       </li>
       <li class="dropdown-footer">
        <a href="#">
         Show all messages
        </a>
       </li>
      </ul>
      <!-- End Messages Dropdown Items -->
     </li>
     <!-- End Messages Nav -->
    </ul>
   </nav>
   <!-- End Icons Navigation -->
  </header>
  <!-- End Header -->
  <!-- ======= Sidebar ======= -->
  <aside class="sidebar" id="sidebar">
   <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
     <a class="nav-link" href="{% url 'analytics:index' %}">
      <i class="bi bi-grid">
      </i>
      <span>
       Dashboard
      </span>
     </a>
    </li>
    <!-- End Dashboard Nav -->
    <li class="nav-heading">
     Pages
    </li>
    <li class="nav-item">
     <a class="nav-link collapsed" href="{% url 'analytics:candidates' %}">
      <i class="bi bi-people">
      </i>
      <span>
       Candidates
      </span>
     </a>
    </li>
    <!-- End Profile Page Nav -->
    <li class="nav-item">
    {% comment %}
      <a class="nav-link collapsed" href="{% url 'analytics:add admin' %}">
        <i class="bi bi-person-plus">
        </i>
        <span>
        Add Admin
        </span>
      </a>
    {% endcomment %}
    </li>
    <!--<li class="nav-item">
        <a class="nav-link collapsed" href="Candidate Reports.html">
          <i class="bi bi-file-earmark-pdf"></i>
          <span>Candidate Reports</span>
        </a>
      </li>-->
    <!-- End Error 404 Page Nav -->
   </ul>
  </aside>
  <!-- End Sidebar-->
  <main class="main" id="main">
   <div class="pagetitle">
    <h1>
     Reference Status OverView
    </h1>
    <!--<nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Reference OverView</li>
        </ol>
      </nav>-->
   </div>
   <!-- End Page Title -->
   <section class="section dashboard">
    <div class="row">
     <!-- Left side columns -->
     <div class="col-lg-8">
      <div class="row">
       <!-- Sales Card -->
       <div class="col-xxl-4 col-md-6">
        <div class="card info-card sales-card">
         <div class="card-body">
          <h5 class="card-title">
           Pending
          </h5>
          <div class="d-flex align-items-center">
           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-envelope-open">
            </i>
           </div>
           <div class="ps-3">
            <h6>
             145
            </h6>
            <!--<span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->
           </div>
          </div>
         </div>
        </div>
       </div>
       <!-- End Sales Card -->
       <!-- Revenue Card -->
       <div class="col-xxl-4 col-md-6">
        <div class="card info-card revenue-card">
         <div class="card-body">
          <h5 class="card-title">
           In Progress
          </h5>
          <div class="d-flex align-items-center">
           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-people">
            </i>
           </div>
           <div class="ps-3">
            <h6>
             435
            </h6>
            <!--<span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>-->
           </div>
          </div>
         </div>
        </div>
       </div>
       <!-- End Revenue Card -->
       <!-- Customers Card -->
       <div class="col-xxl-4 col-xl-12">
        <div class="card info-card customers-card">
         <div class="card-body">
          <h5 class="card-title">
           Completed
          </h5>
          <div class="d-flex align-items-center">
           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
            <i class="bi bi-hand-thumbs-up">
            </i>
           </div>
           <div class="ps-3">
            <h6>
             420
            </h6>
            <!--<span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>-->
           </div>
          </div>
         </div>
        </div>
       </div>
       <!-- End Customers Card -->
       <!-- Reports -->
       <div class="col-12">
        <div class="card-body">
         <h5 class="card-title">
          Referees
         </h5>
         <table class="table table-borderless datatable">
          <thead>
           <tr>
            <th scope="col">
             Company Name
            </th>
            <th scope="col">
             Referee Name
            </th>
            <th scope="col">
             Status
            </th>
            <th class="hidden">
             phone number
            </th>
           </tr>
          </thead>
          <tbody>
           <tr>
            <td>
             BakerTilly
            </td>
            <td>
             <a class="text-primary" href="#">
              Martin Muduva
             </a>
            </td>
            <td>
             <span class="badge bg-success">
              Completed
             </span>
            </td>
            <td>
             (+263)732 488 904
            </td>
           </tr>
           <tr>
            <td>
             BakerTilly
            </td>
            <td>
             <a class="text-primary" href="#">
              Wise Billionaire
             </a>
            </td>
            <td>
             <span class="badge bg-warning">
              Pending
             </span>
            </td>
            <td>
             (+263)751 261 018
            </td>
           </tr>
           <tr>
            <td>
             Econet
            </td>
            <td>
             <a class="text-primary" href="#">
              Strive masiyiwa
             </a>
            </td>
            <td>
             <span class="badge bg-success">
              Completed
             </span>
            </td>
            <td>
             (+263)722 301 915
            </td>
           </tr>
           <tr>
            <td>
             Ey
            </td>
            <td>
             <a class="text-primar" href="#">
              CZ
             </a>
            </td>
            <td>
             <span class="badge bg-primary">
              In progress
             </span>
            </td>
            <td>
             (+263)775 337 634
            </td>
           </tr>
           <tr>
            <td>
             KPMG
            </td>
            <td>
             <a class="text-primary" href="#">
              Simbai Nyama
             </a>
            </td>
            <td>
             <span class="badge bg-success">
              Completed
             </span>
            </td>
            <td>
             (+263)788 645 122
            </td>
           </tr>
          </tbody>
         </table>
         <div class="card">
          <div class="card-body">
           <button class="btn btn-primary modal-toggle-button" data-bs-target="#basicModal" data-bs-toggle="modal" style="display: none;" type="button">
            Basic Modal
           </button>
           <div class="modal fade" id="basicModal" tabindex="-1">
            <div class="modal-dialog">
             <div class="modal-content">
              <div class="modal-header">
               <h5 class="modal-title">
                Basic Modal
               </h5>
               <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
               </button>
              </div>
              <div class="modal-body">
               <p class="phone-number">
               </p>
              </div>
             </div>
            </div>
           </div>
           <!-- End Basic Modal-->
          </div>
         </div>
        </div>
       </div>
       <!-- End Reports -->
      </div>
     </div>
     <!-- End Left side columns -->
     <!-- Right side columns -->
     <div class="col-lg-4">
      <!-- Recent Activity -->
      <div class="card">
       <div class="filter">
        <a class="icon" data-bs-toggle="dropdown" href="#">
         <i class="bi bi-three-dots">
         </i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
         <li class="dropdown-header text-start">
          <h6>
           Filter
          </h6>
         </li>
         <li>
          <a class="dropdown-item filter-item" href="#">
           Today
          </a>
         </li>
         <li>
          <a class="dropdown-item filter-item" href="#">
           This Month
          </a>
         </li>
         <li>
          <a class="dropdown-item filter-item" href="#">
           This Year
          </a>
         </li>
        </ul>
       </div>
       <div class="card-body">
        <h5 class="card-title">
         Communication Logs
        </h5>
        <div class="activity">
         <div class="activity-item d-flex">
          <div class="activite-label">
           29/08/2023
          </div>
          <i class="bi bi-circle-fill activity-badge text-success align-self-start">
          </i>
          <div class="activity-content">
           sent email to Wise Billionaire @ BakerTilly
          </div>
         </div>
         <!-- End activity item-->
         <div class="activity-item d-flex">
          <div class="activite-label">
           29/09/2023
          </div>
          <i class="bi bi-circle-fill activity-badge text-danger align-self-start">
          </i>
          <div class="activity-content">
           sent email to Martin Mudhuva @ BakerTilly
          </div>
         </div>
         <!-- End activity item-->
         <div class="activity-item d-flex">
          <div class="activite-label">
           27/09/2022
          </div>
          <i class="bi bi-circle-fill activity-badge text-primary align-self-start">
          </i>
          <div class="activity-content">
           sent email to Strive Masiyiwa @ Econet
          </div>
         </div>
         <!-- End activity item-->
         <div class="activity-item d-flex">
          <div class="activite-label">
           28/08/2023
          </div>
          <i class="bi bi-circle-fill activity-badge text-info align-self-start">
          </i>
          <div class="activity-content">
           sent email to Simbai Nyama @ Delloite
          </div>
         </div>
         <!-- End activity item-->
         <div class="activity-item d-flex">
          <div class="activite-label">
           30/08/2023
          </div>
          <i class="bi bi-circle-fill activity-badge text-warning align-self-start">
          </i>
          <div class="activity-content">
           sent email to Claris @ Telone
          </div>
         </div>
         <!-- End activity item-->
         <div class="activity-item d-flex">
          <div class="activite-label">
           29/08/2023
          </div>
          <i class="bi bi-circle-fill activity-badge text-muted align-self-start">
          </i>
          <div class="activity-content">
           sent email to Martin Mudhuva @ BakerTilly
          </div>
         </div>
         <!-- End activity item-->
        </div>
       </div>
      </div>
      <!-- End Recent Activity -->
      <!--Overall Reference Feedback-->
     </div>
    </div>
   </section>
  </main>
  <!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer class="footer" id="footer">
   <!--<div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>-->
   <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    Designed by
    <a href="https://bootstrapmade.com/">
     B@kertilly
    </a>
   </div>
  </footer>
  <!-- End Footer -->
  <a class="back-to-top d-flex align-items-center justify-content-center" href="#">
   <i class="bi bi-arrow-up-short">
   </i>
  </a>
  <!-- Vendor JS Files -->
  <script src="{% static 'analytics/assets/vendor/apexcharts/apexcharts.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/chart.js/chart.umd.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/echarts/echarts.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/quill/quill.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/simple-datatables/simple-datatables.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/tinymce/tinymce.min.js' %}">
  </script>
  <script src="{% static 'analytics/assets/vendor/php-email-form/validate.js' %}">
  </script>
  <!-- Template Main JS File -->
  <script src="{% static 'analytics/assets/js/main.js' %}">
  </script>
  <script>
   Array.from(document.getElementsByTagName('tr')).forEach((row)=>{
      row.setAttribute('style','cursor:pointer')
      row.lastChild.classList.add('hidden')
      row.addEventListener('click',()=>{
        document.querySelector('.modal-toggle-button').click()
        let referee_company=row.querySelector('td')
        let referee=referee_company.nextSibling
        let identification=`${referee.innerText}(${referee_company.innerText})`
        let modal=document.querySelector('.modal')
        modal.querySelector('.modal-title').innerHTML=identification
        modal.querySelector('.phone-number').innerText=row.lastChild.innerText

      })
    })

  let getDate=()=>{
      // Get the current date
      var currentDate = new Date();

      // Get the day of the month (1-31)
      var day = currentDate.getDate();

      // Get the month (0-11, where 0 represents January)
      var month = currentDate.getMonth();

      // Get the year (four digits)
      var year = currentDate.getFullYear();

      // Adjust month and day values for human-readable format
      month++; // Increment month by 1 to match conventional numbering (1-12)
      if (day < 10) {
        day = '0' + day; // Prepend a '0' if day is a single digit
      
      }
      if (month < 10) {
        month = '0' + month; // Prepend a '0' if day is a single digit
      
      }
      return [day+'',month+'',year+'']

    }

    let hideItems=(match,key)=>{
      Array.from(document.querySelector('.activity').getElementsByClassName('activity-item')).forEach((item)=>{
            let [itemDate,itemMonth,itemYear]=item.querySelector('.activite-label').innerText.split('/')
            //console.log([itemDate,itemMonth,itemYear],match)
            if(itemDate.length==1){
              itemDate=0+itemDate
            }
            if(itemMonth.length==1){
              itemMonth=0+itemMonth
            }
            switch(key){
              case 'day':
                if(JSON.stringify([itemDate,itemMonth,itemYear]) !== JSON.stringify(match)){
                  item.classList.add('hidden')
                  console.log('match:',match)
                  console.log('items:',[itemDate,itemMonth,itemYear])
                }else{
                  item.classList.remove('hidden')
                }
                break
              case 'month':
                if(!((itemMonth==match[1])&&(itemYear==match[2]))){
                  item.classList.add('hidden')
                }else{
                  item.classList.remove('hidden')
                }
                break
              case 'year':
                if(itemYear!=match[2]){
                  item.classList.add('hidden')
                }else{
                  item.classList.remove('hidden')
                }
                break
            }
            
          })
          
    }

    let [day,month,year]=getDate()
    Array.from(document.getElementsByClassName('filter-item')).forEach((item)=>{
      
      item.onclick=((e)=>{
        e.preventDefault()
        switch(item.innerText){
          case 'Today':
            hideItems([day,month,year],'day')
            break
          case 'This Month':
          hideItems([day,month,year],'month')
            break
          case 'This Year':
            hideItems([day,month,year],'year')
            break
        }
    
      })
    })
  </script>
 </body>
</html>

